<!DOCTYPE html>
<html>
  <head>
    <title>RailsDiscuss</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= vite_react_refresh_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.tsx', defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
